<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left margin-left>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>{{pageTitle}}</ion-title>
    <ion-buttons right margin-right>
      <button ion-button clear icon-only (click)="openColorPicker(list)">
        <ion-icon name="color-palette"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding [ngStyle]="{'background': list.color}">
  <ion-item [ngStyle]="{'background': list.color}">
    <ion-label floating >List title</ion-label>
    <ion-input [(ngModel)]="list.title" type="text" maxlength="96"></ion-input>
  </ion-item>
  <h4 text-center>Items</h4>
  <ion-item [ngStyle]="{'background': list.color}">
    <ion-label floating >Item text</ion-label>
    <ion-input #itemText (keypress)="addListItem($event)" type="text" maxlength="128"></ion-input>
    <button ion-button icon-only small>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-item>
  <ion-list *ngIf="items.length > 0" no-lines>
    <ion-item *ngFor="let item of items" [ngStyle]="{'background': list.color}">
      <h3 class="todo-item" [ngClass]="{'finished': item.isFinished}">{{item.text}}</h3>
      <ion-buttons item-right>
        <button ion-button icon-only clear (click)="toggleFinished(item)">
          <ion-icon name="{{item.isFinished ? 'checkbox' : 'square-outline'}}" color="dark"></ion-icon>
        </button>
        <button ion-button icon-only color="dark" small solid (click)="removeListItem(item._id)">
          <ion-icon name="close-circle" color="danger"></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons right margin-right>
      <button ion-button solid color="secondary" (click)="saveList(list)">
        {{getFormMode()}}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
